<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}
html{
    font-size: 50px;
}
p{
    font-family: "poppins", "sans-serif";
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
}
    h1{
        text-transform: capitalize;
        font-size: 0.8rem;
        border-block-start: 20px solid;
        border-block-end: 20px solid;
    }
h2{
   background-color: #808080;
   padding-block: 30px;
   text-align: center;
   margin:auto;
   border-block-end: 20px solid #CB9;
}

h2::first-letter{
   color: #3beb05;
   font-size: 100%;
   text-transform: capitalize;
}
ul,li{
   list-style-type: lower-greek;
   border-block-start: 20px solid #808080;
}
a{
   text-decoration: none;
   background-color: #4b4b4b;
   
}
a:visited {
    color: pink;
   
} 
 a:hover {
    color: #4e4c4c;
    background-color: #56df20;
   }
a:active {
    color: #fff;
    background-color: #56df20;
}
section,dl{
    font-size: 0.5rem;
}
img:nth-of-type(odd){
    border-radius: 0px 60px 0px 60px;
}
img:nth-of-type(even){
    border-radius: 60px 0px 60px 0px;
}
body{
    margin-inline: auto;
    width: 70%;
    background-image: radial-gradient(#ccc, #ddd);
    background-attachment: fixed;


}
